## Python


### Exercise 1. 

Generate a function to check if a string is palindrome or not.
Example of palindrome word: "Solos"

In [14]:
# Add your function here

def is_palindrome(x):
  p = x.lower()[::-1]
  if p == x.lower():
    return "It's a Palindrome"
  else: 
    return "It's NOT a Palindrome"

In [15]:
# Test and validate your results
print(is_palindrome("Solos"))
print(is_palindrome("Anna"))
print(is_palindrome("abc"))

It's a Palindrome
It's a Palindrome
It's NOT a Palindrome

### Exercise 2

Complete the solution so that the function will break up camel casing, using a space between words.

**Example**

"camelCasing"  =>  "camel Casing"  
"identifier"   =>  "identifier"  
""             =>  ""

In [ ]:
def break_camelcase(p):
  s=''
  for i in p:
    if i.isupper():
      s+=' '+i
    else: s+=i
  return s

  
def break_camelcase2(p):
  return "".join([(' '+i if i.isupper() else i) for i in p])

In [47]:
# Test and validate your results
print(break_camelcase("camelCasing")+" | "+break_camelcase2("camelCasing"))
print(break_camelcase2("identifier"))
print(break_camelcase2(""))

camel Casing | camel Casing
identifier

## Exercise 3

Make a program that filters a list of strings and returns a list with only your friends name in it.

If a name has exactly 4 letters in it, you can be sure that it has to be a friend of yours! Otherwise, you can be sure he's not...

Ex: Input = ["Ryan", "Kieran", "Jason", "Yous"], Output = ["Ryan", "Yous"]


## Example
friend ["Ryan", "Kieran", "Mark"] `shouldBe` ["Ryan", "Mark"]

In [17]:
def my_friends()
  return

SyntaxError: invalid syntax (286478541.py, line 1)

In [ ]:
# Test and validate your results

# SQL

You have 2 exercises on this section. You must solve 1

In [ ]:
!pip install pandasql

Collecting pandasql
  Using cached pandasql-0.7.3-py3-none-any.whl
Collecting sqlalchemy
  Downloading SQLAlchemy-1.4.36-cp37-cp37m-win_amd64.whl (1.6 MB)
     ---------------------------------------- 1.6/1.6 MB 1.9 MB/s eta 0:00:00
Requirement already satisfied: pandas in c:\users\milto\documents\repos\short_challenges\venv\lib\site-packages (from pandasql) (1.3.5)
Requirement already satisfied: numpy in c:\users\milto\documents\repos\short_challenges\venv\lib\site-packages (from pandasql) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in c:\users\milto\documents\repos\short_challenges\venv\lib\site-packages (from pandas->pandasql) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\milto\documents\repos\short_challenges\venv\lib\site-packages (from pandas->pandasql) (2.8.2)
Collecting greenlet!=0.4.17
  Using cached greenlet-1.1.2-cp37-cp37m-win_amd64.whl (101 kB)
Requirement already satisfied: importlib-metadata in c:\users\milto\documents\repos\short_challenges\venv\lib\site-packages (from sqlalchemy->pandasql) (4.11.3)
Requirement already satisfied: six>=1.5 in c:\users\milto\documents\repos\short_challenges\venv\lib\site-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.16.0)
Requirement already satisfied: typing-extensions>=3.6.4 in c:\users\milto\documents\repos\short_challenges\venv\lib\site-packages (from importlib-metadata->sqlalchemy->pandasql) (4.2.0)
Requirement already satisfied: zipp>=0.5 in c:\users\milto\documents\repos\short_challenges\venv\lib\site-packages (from importlib-metadata->sqlalchemy->pandasql) (3.8.0)
Installing collected packages: greenlet, sqlalchemy, pandasql
Successfully installed greenlet-1.1.2 pandasql-0.7.3 sqlalchemy-1.4.36

In [ ]:
import pandas as pd
from pandasql import sqldf

df = pd.read_csv("https://covid.ourworldindata.org/data/owid-covid-data.csv")

In [ ]:
sqldf("select * from df limit 10")

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,None,None,None,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,None,None,None,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,None,None,None,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,None,None,None,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,None,None,None,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None
5,AFG,Asia,Afghanistan,2020-02-29,5.0,0.0,0.714,None,None,None,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None
6,AFG,Asia,Afghanistan,2020-03-01,5.0,0.0,0.714,None,None,None,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None
7,AFG,Asia,Afghanistan,2020-03-02,5.0,0.0,0.000,None,None,None,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None
8,AFG,Asia,Afghanistan,2020-03-03,5.0,0.0,0.000,None,None,None,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None
9,AFG,Asia,Afghanistan,2020-03-04,5.0,0.0,0.000,None,None,None,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None

## Exercise 1
Retrieve the number of deaths in Bolivia

In [ ]:
sqldf("select sum(total_deaths + new_deaths) as N_deaths from df where location = 'Bolivia'")

    N_deaths
0  9060647.0

## Exercise 2
Retrieve the number of countries in this dataset.

In [ ]:
sqldf("select count(*) as n_countries from df group by location")

     n_countries
0            779
1            790
2            778
3            778
4            772
..           ...
237          541
238          812
239          733
240          756
241          754

[242 rows x 1 columns]

# Pandas
You have 2 exercises on this section. You must solve 1

## Exercise 1
Using pandas
Retrieve from df dataframe the number of cases and deaths in South America Countries.  (Hint: Use groupby by continent and location)

In [ ]:
# Add your solution here
df[df[["total_cases","total_deaths"]]].groupby("continent")

ValueError: ignored

## Exercise 2
Using pandas, per continent indicate the number of cases , number of deaths and the average of new cases per day

In [ ]:
# Add your solution here
# df.groupby().agg({...})

# Houm

Given a list of integers, detect all numbers that are not duplicated. ( Solucion O de N ) 
a = [1,2,3,2,3,3,0,10]
output: [1,0,10]

In [ ]:
a = [1,2,3,2,3,3,0,10]

def test(a):
  no_dp = []
  sort_a = sorted(a)
  j= 0
  for i in sort_a:
    if j < len(sort_a)-1:
      if i != sort_a[j+1] or i != sort_a[j-1]:
        no_dp.append(i)
    j+=1
  return no_dp

print(test(a))