# Basic Python

You have 3 exercises on this section. You must solve one.


## Exercise 1. 
Generate a funcion to check if a string is palindrome or not.

Example of palindrome word: "Solos"

In [ ]:
# Add your function here

def is_palindrome(x):
  p = str(x.lower()[::-1])
  if p == x.lower():
    return "It's a Palindrome"
  else: 
    return "It's NOT a Palindrome"

In [ ]:
# Test and validate your results
print(is_palindrome("Solos"))
print(is_palindrome("Anna"))
print(is_palindrome("abc"))

It's a Palindrome
It's a Palindrome
It's NOT a Palindrome

## Exercise 2

Complete the solution so that the function will break up camel casing, using a space between words.

**Example**

"camelCasing"  =>  "camel Casing"

"identifier"   =>  "identifier"

""             =>  ""

In [ ]:
def break_camelcase(phrase):

  return

In [ ]:
# Test and validate your results

## Exercise 3

Make a program that filters a list of strings and returns a list with only your friends name in it.

If a name has exactly 4 letters in it, you can be sure that it has to be a friend of yours! Otherwise, you can be sure he's not...

Ex: Input = ["Ryan", "Kieran", "Jason", "Yous"], Output = ["Ryan", "Yous"]


## Example
friend ["Ryan", "Kieran", "Mark"] `shouldBe` ["Ryan", "Mark"]

In [ ]:
def my_friends()
  return

In [ ]:
# Test and validate your results

# SQL

You have 2 exercises on this section. You must solve 1

In [ ]:
!pip install pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.21.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.35)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.11.3)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.8.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26784 sha256=b05ee88ec7027edd9ba42d44096517dd07b2992963bc0abcdffb56f729625a1b
  Stored in directory: /root/.cache/pip/wheels/5c/4b/ec/41f4e116c8053c3654e2c2a47c62b4fca34cc67ef7b55deb7f
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [ ]:
import pandas as pd
from pandasql import sqldf

df = pd.read_csv("https://covid.ourworldindata.org/data/owid-covid-data.csv")

In [ ]:
sqldf("select * from df limit 10")

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,None,None,None,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,None,None,None,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,None,None,None,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,None,None,None,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,None,None,None,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None
5,AFG,Asia,Afghanistan,2020-02-29,5.0,0.0,0.714,None,None,None,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None
6,AFG,Asia,Afghanistan,2020-03-01,5.0,0.0,0.714,None,None,None,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None
7,AFG,Asia,Afghanistan,2020-03-02,5.0,0.0,0.000,None,None,None,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None
8,AFG,Asia,Afghanistan,2020-03-03,5.0,0.0,0.000,None,None,None,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None
9,AFG,Asia,Afghanistan,2020-03-04,5.0,0.0,0.000,None,None,None,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None

## Exercise 1
Retrieve the number of deaths in Bolivia

In [ ]:
sqldf("select sum(total_deaths + new_deaths) as N_deaths from df where location = 'Bolivia'")

    N_deaths
0  9060647.0

## Exercise 2
Retrieve the number of countries in this dataset.

In [ ]:
sqldf("select count(*) as n_countries from df group by location")

     n_countries
0            779
1            790
2            778
3            778
4            772
..           ...
237          541
238          812
239          733
240          756
241          754

[242 rows x 1 columns]

# Pandas
You have 2 exercises on this section. You must solve 1

## Exercise 1
Using pandas
Retrieve from df dataframe the number of cases and deaths in South America Countries.  (Hint: Use groupby by continent and location)

In [ ]:
# Add your solution here
df[df[["total_cases","total_deaths"]]].groupby("continent")

ValueError: ignored

## Exercise 2
Using pandas, per continent indicate the number of cases , number of deaths and the average of new cases per day

In [ ]:
# Add your solution here
# df.groupby().agg({...})

# Houm

Given a list of integers, detect all numbers that are not duplicated. ( Solucion O de N ) 
a = [1,2,3,2,3,3,0,10]
output: [1,0,10]

In [ ]:
a = [1,2,3,2,3,3,0,10]

def test(a):
  no_dp = []
  sort_a = sorted(a)
  j= 0
  for i in sort_a:
    if j < len(sort_a)-1:
      if i != sort_a[j+1] or i != sort_a[j-1]:
        no_dp.append(i)
    j+=1
  return no_dp

print(test(a))